<div class="container">
    <div style="text-align: center;">
        <h1 style="text-align: center;">Eat Da burger!</h1>
        <img src="./img/burger.png" alt="Burger-Image" style="width:200px;length:200px">
    </div>

{{!-- Burgers Available  --}}
<div style="width: 50%; float:left;text-align:center">
   <h3>Burgers Available</h3>
   <ul>
  {{#each available}}
  	
  	   <p>{{this.id}}.{{this.burgerName}} <button data-id="{{this.id}}" class="devourIt">Devour It!</button></p>
  
  {{/each}}
</ul>
</div>

{{!-- Burgers Devoured --}}
<div style="width: 50%; float:right;text-align:center">
   <h3>Devoured Burgers</h3>
    <ul class="list-group">
  {{#each devoured}}
  	
  	   <li class="list-group-item">{{this.id}}.{{this.burgerName}} <button data-id="{{this.id}}" class="close-button">Delete</button></li>
  
  {{/each}}
</ul>
</div>
</div>

{{!-- Create a new Burger --}}
<div style="text-align:center;">

<h2>Create a Burger</h2>
<form class="create-form">
<div class="form-group">
  <input type="text" id="burger-input" name="burger">
  <label id="form-label">Enter a burger you want to eat and click the "Submit" button.</label>
</div>
  {{!-- <button id="form-button" type="button">Submit</button> --}}
    <button type="submit" class="btn btn-primary" id="postBurger">Submit</button>
</form>
</div>