<div class="container">
    <div style="text-align: center;">
        <h1 style="text-align: center;">Eat Da burger!</h1>
        <img src="burger.png" alt="Burger-Image" style="width:100px;length:100px">
    </div>

    
<div style="width: 50%; float:left;text-align:center">
   <h3>Burgers Available</h3>
   <ul>
  {{#each burgers}}
  	
  	   <p>{{this.id}}.{{this.burgerName}} <button data-planid="{{this.id}}" class="devourIt">Devour It!</button></p>
  
  {{/each}}
</ul>
</div>

<div style="width: 50%; float:right;text-align:center">
   <h3>Devoured Burgers</h3>
    <ul class="list-group">
  {{#each burgers}}
  	
  	   <li class="list-group-item">{{this.id}}.{{this.burgerName}} </li>
  
  {{/each}}
</ul>
</div>




</div>

<div style="text-align:center;">

<h2>Create a Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burgerName"></textarea>
  <button type="submit">Submit</button>
  <p>Enter a burger you want to eat and Click the "Submit" button.</p>
</form>

</div>